---
import logoUrl from '../../../assets/Go2rinjani.svg';
---
<header class="nav js-nav">
  <a aria-label="Go2Rinjani home link" class="link link--underlined" href="/">
    <img src={logoUrl.src} alt="Go2Rinjani Logo" class="logo" style="--max-height: 2.375rem; height: 100%; object-fit: contain; border-radius: 0;" />
  </a>
</header>
