---
import AnimatedArrowIsland from "../../../components/ui/AnimatedArrowIsland";
import Highlight from "./Highlight.astro";
import { getLangFromUrl, useTranslations, getLocalizedPath } from '../../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang, "home");
---

<section class="w-full border-t border-black">
  <div class="px-4 xl:px-5 py-4 lg:py-9">
    <div class="flex flex-row justify-between items-center mb-4 gap-8">
      <span class="text-xs lg:text-lg font-regular tracking-[0.13em] uppercase text-black">
        {t("about.label")}
      </span>
      <div class="w-full md:w-[300px] lg:w-[400px] flex justify-end">
        <AnimatedArrowIsland
          client:visible
          text={t("about.cta_label")}
          href={getLocalizedPath("/about", lang)}
          hideBorders={true}
          slideLeft={true}
          textClassName="text-xs lg:text-lg font-normal"
          paddingClassName="py-0 lg:py-[11px]"
        />
      </div>
    </div>

    <h2 class="text-2xl md:text-3xl lg:text-[3.5rem] leading-[1.1] font-regular md:font-medium tracking-tight text-black max-w-[95%] md:max-w-[85%]">
      {t("about.desc")}
    </h2>
  </div>
  
  <Highlight />
</section>
