---
import { cn } from "../../../lib/utils";

interface Props extends astroHTML.JSX.HTMLAttributes {
  class?: string;
}

const { class: className = "", ...props } = Astro.props;
---

<h2
  class={cn("text-[2rem] leading-[1.05] min-[481px]:text-4xl lg:text-[3.5rem] lg:leading-[1.1] font-medium tracking-tight text-foreground mb-3 min-[481px]:mb-4", className)}
  {...props}
>
  <slot />
</h2>
