
.calendar_dateHide__dnBRj {
  opacity: 0.5 !important;
  pointer-events: none;
}
.calendar_calendar__VcnSk {
  width: 100%;
}
.calendar_calendar__VcnSk > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.calendar_navigation__W6iZD {
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.calendar_navigation__W6iZD > div {
  width: 100%;
  display: flex;
  align-items: center;
}
.calendar_month__Jmpav {
  text-transform: capitalize;
  text-align: center;
  flex-grow: 1;
  pointer-events: none;
}
.calendar_arrow__Rv44m {
  width: 6.076vw;
  height: 1.447vw;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.calendar_arrowPrev__fv_PU {
  background-image: url(/assets/arrow-prev-calendar.svg);
}
.calendar_arrowNext__Urmv8 {
  background-image: url(/assets/arrow-next-calendar.svg);
}
.calendar_days__BoSW1 {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #000;
  margin-bottom: -1px;
}
.calendar_day__zu_gD {
  text-transform: uppercase;
}
.calendar_date__vvteL,
.calendar_day__zu_gD {
  max-width: 14.28%;
  min-width: 14.28%;
  text-align: center;
}
.calendar_date__vvteL {
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom-color: #000;
}
.calendar_date__vvteL:hover {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.calendar_dateDisabled__U_sgS {
  border: 1px solid transparent !important;
  border-bottom-color: #000 !important;
}
.calendar_dateDisabled__U_sgS span {
  opacity: 0.4;
}
@media (max-width: 1024px) {
  .calendar_calendar__VcnSk {
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
@media (max-width: 480px) {
  .calendar_arrow__Rv44m {
    width: 11.923vw;
    height: 3.333vw;
    margin-left: 1.282vw;
  }
}
.posts_container__O6KN_ {
  width: 100%;
}
.posts_filter__mm335 {
  display: flex;
  text-transform: uppercase;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.posts_filterItem__BfVel {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  cursor: pointer;
  margin-left: -1px;
}
.posts_filterItem__BfVel:hover {
  border-left-color: #000;
  border-right-color: #000;
}
.posts_grid__sGVYW,
.posts_post__dmrHG {
  width: 100%;
}
.posts_post__dmrHG > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.posts_image__E5Ter {
  width: 50%;
  height: 30.382vw;
  position: relative;
  overflow: hidden;
}
.posts_imageContainer__HMp2b {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.posts_imageContainer__HMp2b img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.posts_text__b9l88 {
  width: 50%;
}
.posts_text__b9l88 > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.posts_textBottom__QBQIo,
.posts_textTop__5NuIK {
  width: 100%;
}
.posts_head__CXGOg {
  width: 100%;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
.posts_location__Zxh6D {
  line-height: 1;
}
.posts_cta__yKs5u {
  line-height: 1;
  display: flex;
  align-items: center;
}
.posts_categories__R6NeN {
  width: calc(100% + 0.579vw);
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.579vw;
  margin-right: -0.579vw;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .posts_head__CXGOg {
    align-items: flex-start;
  }
  .posts_categories__R6NeN {
    margin-top: 1.953vw;
  }
  .posts_container__O6KN_ {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .posts_filter__mm335,
  .posts_grid__sGVYW {
    padding-left: 1.465vw;
    padding-right: 1.465vw;
  }
  .posts_head__CXGOg {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .posts_grid__sGVYW {
    margin-right: -0.732vw;
    margin-left: -0.732vw;
  }
  .posts_post__dmrHG {
    margin-top: 1.465vw;
    padding-right: 0.732vw;
    padding-left: 0.732vw;
  }
}
@media (max-width: 480px) {
  .posts_location__Zxh6D {
    padding-right: 0 !important;
  }
  .posts_categories__R6NeN {
    margin-top: 5.128vw;
  }
  .posts_grid__sGVYW {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .posts_post__dmrHG {
    margin-top: 0 !important;
    padding-top: 6.41vw;
    padding-right: 3.846vw;
    padding-left: 3.846vw;
  }
  .posts_post__dmrHG > div {
    flex-wrap: wrap;
  }
  .posts_container__O6KN_,
  .posts_image__E5Ter {
    padding-right: 0 !important;
  }
  .posts_container__O6KN_ {
    padding-left: 0 !important;
  }
  .posts_filter__mm335 {
    margin-top: 3.846vw;
  }
  .posts_filterLabel__LJWy8 {
    display: none;
  }
  .posts_dataTitle__IIil_ {
    margin-top: 6.41vw;
    padding-right: 3.846vw;
    padding-left: 3.846vw;
  }
  .posts_image__E5Ter,
  .posts_text__b9l88 {
    width: 100% !important;
  }
  .posts_image__E5Ter {
    height: 58.205vw;
    margin-bottom: 2.564vw;
  }
  .posts_text__b9l88 {
    padding-left: 0 !important;
  }
  .posts_categories__R6NeN,
  .posts_date__4zLo0 {
    margin-top: 2.564vw;
  }
  .posts_tag__VGHh0:first-child {
    padding-left: 0 !important;
  }
}
.week_head___84Qt {
  width: 100%;
  display: flex;
  align-items: center;
}
.week_subhead__FqVXI {
  width: 100%;
  cursor: pointer;
  position: relative;
}
.week_subhead__FqVXI > div {
  width: 100%;
  background-color: #eaac73;
  display: flex;
  justify-content: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.week_subhead__FqVXI > div:hover {
  background-color: #000;
  color: #eaac73;
}
.week_title__2biB_ {
  min-width: 17.361vw;
}
.week_subtitle__qlbh7 {
  text-transform: capitalize;
  text-align: center;
  flex-grow: 1;
  pointer-events: none;
  display: flex;
  justify-content: center;
}
.week_subtitleText__sjICp {
  display: table;
  position: relative;
}
.week_subtitleText__sjICp:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -2.083vw;
  transform: translateY(-50%);
  width: 1.45vw;
  height: 1.45vw;
  background-image: url(/assets/arrow-down.svg);
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}
.week_subhead__FqVXI > div:hover .week_subtitleText__sjICp:after {
  background-image: url(/assets/arrow-down-light.svg);
}
.week_calendar__S5zLO {
  width: 100%;
  position: relative;
}
.week_calendar__S5zLO > div {
  width: 100%;
  background-color: #eaac73;
  display: flex;
  flex-wrap: wrap;
}
.week_date__r_nnE {
  max-width: 14.28%;
  min-width: 14.28%;
  text-align: center;
}
.week_date__r_nnE:nth-last-child(-n + 8) {
  border-bottom-width: 0;
}
.week_dateString__PPp_x {
  width: 100%;
  line-height: 1;
  text-transform: uppercase;
}
.week_dateDisabled__nwJBB > span {
  opacity: 0.4;
}
.week_calendarModal__TRwHI {
  width: 100% !important;
  height: 0;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: transparent !important;
}
.week_calendarModalActive___BpoQ > div {
  background-color: #eaac73 !important;
  color: #000 !important;
}
@media (max-width: 1024px) {
  .week_date__r_nnE {
    padding: 1.953vw;
  }
  .week_head___84Qt {
    margin-top: 1.953vw;
    padding-bottom: 0.977vw;
  }
  .week_subhead__FqVXI {
    padding-bottom: 0 !important;
  }
  .week_calendarModal__TRwHI {
    padding-right: 1.465vw !important;
    padding-left: 1.465vw !important;
  }
  .week_subtitleText__sjICp:after {
    width: 1.95vw;
    height: 1.95vw;
    right: -3.52vw;
  }
}
@media (max-width: 480px) {
  .week_head___84Qt {
    margin-top: 2.564vw;
    padding-bottom: 2.564vw;
  }
  .week_head___84Qt:first-child {
    padding-top: 2.564vw;
    padding-bottom: 2.564vw;
  }
  .week_calendar__S5zLO > div {
    flex-wrap: nowrap;
  }
  .week_date__r_nnE {
    max-width: unset;
    min-width: unset;
    flex: 1 1;
    text-align: center;
    font-size: 4.103vw;
    text-transform: uppercase;
    padding: 2.564vw 0 !important;
  }
  .week_dateDisabled__nwJBB span {
    opacity: 0.4;
  }
  .week_dateString__PPp_x {
    margin-bottom: 0 !important;
  }
  .week_calendarModal__TRwHI {
    width: 100% !important;
    padding-right: 3.846vw !important;
    padding-left: 3.846vw !important;
  }
  .week_subtitleText__sjICp:after {
    width: 3.26vw;
    height: 3.26vw;
    right: -4.69vw;
  }
}