
/* From 1b9910992c3b6a4f.css */

@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

/* From 1c0354a145ec5e26.css */

:root {
  --swiper-navigation-size: 44px;
}

/* From 3d4ea636c0bbebb6.css */

:root {
  --swiper-navigation-size: 44px;
}

/* From 76bdc62bc71f9dc6.css */

* {
  box-sizing: border-box;
}

.opacity {
  opacity: 0.5;
}

.mobile {
  display: none;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

a {
  color: #000;
  text-decoration: none;
}

::selection {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
}

.fontSize1 {
  font-size: 7.407vw;
  line-height: 91.2%;
  letter-spacing: -1.28px;
}

.fontSize2 {
  font-size: 3.704vw;
  line-height: 104%;
}

.fontSize4 {
  font-size: 2.083vw;
  line-height: 104%;
}

.fontSize6 {
  font-size: 1.157vw;
  line-height: 120%;
  letter-spacing: -0.2px;
}

.paddingRight1 {
  padding-right: 4.63vw;
}

.marginTop2 {
  margin-top: 3.472vw;
}

.paddingBottom2 {
  padding-bottom: 3.472vw;
}

.marginTop4 {
  margin-top: 2.025vw;
}

.paddingTop4 {
  padding-top: 2.025vw;
}

.paddingRight4 {
  padding-right: 2.025vw;
}

.paddingBottom4 {
  padding-bottom: 2.025vw;
}

.paddingLeft4 {
  padding-left: 2.025vw;
}

.marginTop5 {
  margin-top: 1.157vw;
}

.marginRight5 {
  margin-right: 1.157vw;
}

.marginBottom5 {
  margin-bottom: 1.157vw;
}

.paddingTop5 {
  padding-top: 1.157vw;
}

.paddingRight5 {
  padding-right: 1.157vw;
}

.paddingBottom5 {
  padding-bottom: 1.157vw;
}

.paddingLeft5 {
  padding-left: 1.157vw;
}

.paddingTop6 {
  padding-top: 0.868vw;
}

.paddingBottom6 {
  padding-bottom: 0.868vw;
}

.paddingRight7 {
  padding-right: 0.579vw;
}

.paddingLeft7 {
  padding-left: 0.579vw;
}

.paddingTop8 {
  padding-top: 0.289vw;
}

.paddingRight8 {
  padding-right: 0.289vw;
}

.paddingBottom8 {
  padding-bottom: 0.289vw;
}

.paddingLeft8 {
  padding-left: 0.289vw;
}

@media (max-width: 1024px){
  main {
    padding-bottom: 4.395vw !important;
  }
  main > div {
    padding-right: 1.465vw !important;
    padding-left: 1.465vw !important;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .fontSize1 {
    font-size: 9.375vw;
    line-height: 104%;
  }
  .fontSize2 {
    font-size: 4.688vw;
  }
  .fontSize4 {
    font-size: 3.125vw;
  }
  .fontSize6 {
    font-size: 1.758vw;
  }
  .paddingRight1 {
    padding-right: 7.813vw;
  }
  .marginTop2 {
    margin-top: 4.395vw;
  }
  .paddingBottom2 {
    padding-bottom: 4.395vw;
  }
  .marginTop4 {
    margin-top: 3.418vw;
  }
  .paddingTop4 {
    padding-top: 3.418vw;
  }
  .paddingRight4 {
    padding-right: 3.418vw;
  }
  .paddingBottom4 {
    padding-bottom: 3.418vw;
  }
  .paddingLeft4 {
    padding-left: 3.418vw;
  }
  .marginTop5 {
    margin-top: 0.977vw;
  }
  .marginRight5 {
    margin-right: 0.977vw;
  }
  .marginBottom5 {
    margin-bottom: 0.977vw;
  }
  .paddingTop5,
  .paddingTop6 {
    padding-top: 0.977vw;
  }
  .paddingRight5,
  .paddingRight7 {
    padding-right: 0.977vw;
  }
  .paddingBottom5,
  .paddingBottom6 {
    padding-bottom: 0.977vw;
  }
  .paddingLeft5,
  .paddingLeft7 {
    padding-left: 0.977vw;
  }
  .paddingTop8 {
    padding-top: 0.488vw;
  }
  .paddingRight8 {
    padding-right: 0.488vw;
  }
  .paddingBottom8 {
    padding-bottom: 0.488vw;
  }
  .paddingLeft8 {
    padding-left: 0.488vw;
  }
}

@media (max-width: 480px){
  main {
    padding-bottom: 11.538vw !important;
  }
  .fontSize1 {
    font-size: 9.231vw;
  }
  .fontSize2 {
    font-size: 6.667vw;
  }
  .fontSize4 {
    font-size: 4.673vw;
  }
  
  .fontSize6 {
    font-size: 4.103vw;
  }
  .paddingRight1 {
    padding-right: 20.513vw;
  }
  .marginTop2 {
    margin-top: 11.538vw;
  }
  .paddingBottom2 {
    padding-bottom: 11.538vw;
  }
  .marginTop4 {
    margin-top: 8.974vw;
  }
  .paddingTop4 {
    padding-top: 8.974vw;
  }
  .paddingRight4 {
    padding-right: 8.974vw;
  }
  .paddingBottom4 {
    padding-bottom: 8.974vw;
  }
  .paddingLeft4 {
    padding-left: 8.974vw;
  }
  .marginTop5 {
    margin-top: 2.564vw;
  }
  .marginRight5 {
    margin-right: 2.564vw;
  }
  .marginBottom5 {
    margin-bottom: 2.564vw;
  }
  .paddingTop5,
  .paddingTop6 {
    padding-top: 2.564vw;
  }
  .paddingRight5,
  .paddingRight7 {
    padding-right: 2.564vw;
  }
  .paddingBottom5,
  .paddingBottom6 {
    padding-bottom: 2.564vw;
  }
  .paddingLeft5,
  .paddingLeft7 {
    padding-left: 2.564vw;
  }
  .paddingTop8 {
    padding-top: 1.282vw;
  }
  .paddingRight8 {
    padding-right: 1.282vw;
  }
  .paddingBottom8 {
    padding-bottom: 1.282vw;
  }
  .paddingLeft8 {
    padding-left: 1.282vw;
  }
}

/* From c7db772083fac606.css */